@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
body {
  background-color: #0a0a0f;
  color: white;
  font-family: 'Inter', sans-serif;
}

